<h2>Employee: <%= @employee.name() %></h2>
<hr>

<% if @employee.projects.any? %>
  <h3>Here are the projects currently assigned to this employee:</h3>
  <ul>
    <% @employee.projects.each() do |project_employee| %>
      <li><%= project_employee.name %></li>
    <% end %>
  </ul>

<% else %>

  <p><strong>There are currently no projects assigned to this employee.</strong></p>
  <br>

<% end %>

<p>Add a project to this employee:<p>

  <% if @projects.any?() %>
  <form action="/employees/<%= @employee.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @projects.each() do |project| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="project_ids[]" value="<%= project.id() %>"><%= project.name() %>
        </label>
      </div>
    <% end %>
  <% end %>

  <button type="submit">Submit</button>
</form>
