<h2> <%= @project.name() %></h2>
<hr>

<% if @project.employees.any? %>
  <h3>Here are the employees currently assigned to this project:</h3>
  <ul>
    <% @project.employees.each() do |project_employee| %>
      <li><%= project_employee.name %></li>
    <% end %>
  </ul>

<% else %>

    <p><strong>There are currently no employees assigned to this project.</strong></p>
    <br>

<% end %>

<p>Add an employee to this project:<p>

  <% if @employees.any?() %>
  <form action="/projects/<%= @project.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <% @employees.each() do |employee| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="employee_ids[]" value="<%= employee.id() %>"><%= employee.name() %>
        </label>
      </div>
    <% end %>
  <% end %>

  <button type="submit">Submit</button>
</form>
